$blue: #1a73e8;
@mixin colorIcon($c, $f) {
  color: $c;
  font-size: $f;
}
.list-priority {
  display: flex;
  justify-content: space-around;
  padding: 10px 0 5px 0;
  margin: 0;
  border-top: 1px solid #696969;
  list-style: none;
  color: #1a73e8;
  
  &__item {
    .green {
      @include colorIcon(green, 16px)
    }
    .yellow {
      @include colorIcon(yellow, 16px)
    }
    .red {
      @include colorIcon(red, 16px)
    }
  }
}