.footer {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  font-weight: bold;
  color: #1a73e8;

	.filter {
		display: flex;
    
		.filter__link {
      display: flex;
      
      align-items: center;
      color: #1a73e8;
      text-decoration: none;
      margin: 0 5px;
      cursor: pointer;
      transition: .5s;

      &.active {
        color:#FFF;
        transform: scale(1.2);
      }
    }
  }
  
  .footer__text {
    cursor: pointer;
  }
}